include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title text
		include inc/head
	body(class="p-text")
		include partials/header

		.b-common-wrap
			+b('section').section
				.l-container.clearfix
					h2.-text-center Scalling img
					image(class="image image--cover" alt="Велик, пристёгнутый за перила." src="../img/blog-5-picture.jpg?img")
					svg(role="image" aria-label="Велик, пристёгнутый за перила."
						class="image"
						preserveAspectRatio="xMidYMid slice"
						viewBox="0 0 1024 640")
						image(width="100%" height="100%" xlink:href="../img/blog-5-picture.jpg?svg")

			+b('section').section
				.l-container.clearfix
					h2.-text-center Scalling video(not worked)
					//- svg(aria-label="wow"
					//- 	preserveAspectRatio="xMidYMid slice"
					//- 	viewBox="0 0 1024 640")
					//- 	foreignObject
					//- 		video(width="400" height="400" loop src="../img/video.mp4" autoplay)



		include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")