include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title text
		include inc/head
	body(class="p-text")
		include partials/header

		.b-common-wrap
			+b('section').section
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis suscipit quis optio quo perferendis quibusdam, hic quidem sed voluptate recusandae fuga harum sint ad nobis veniam minus, voluptas molestias vitae!

		include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")
