.l-common-wrap
	display table-row

.l-container
	max-width 1400px
	width 100%
	margin 0 auto
	position relative
	
.l-container-xsm
	max-width 500px
	margin 0 auto
	width 100%
	
.flex-in-row
	display flex
	aling-items center
	*
		margin-right 20px
		&:last-child
			margin-right 0
			
.b-btn
	display block
	text-decoration none
	border 3px solid black
	height 30px
	padding 0 10px
	line-height 24px
	font-size 18px
	text-align center
	font-weight 700
	color black
	
.disabled
	pointer-events none
	opacity .5
	
.image
	float left
	margin-right 25px
	width 30%
	height 256px
	overflow hidden

.b-hidden-text
	&__text-wrap
		max-height 200px
		overflow hidden
	&__read-more
		display inline-flex
		margin-top 10px
